/* inline-block text-lg text-white bg-gray-700 font-light uppercase w-[15rem] h-16 */

.btn{
    display: inline-block;
    color: white;
    background: rgb(73, 73, 73);
    font-weight: 500;
    width: 15rem;
    height: 45px;
    text-align: center;
    margin-left: 30px;
    border-radius: 8px 8px;
    padding: 7px;
    font-size: large;
}
.demo{
    background-color: rgb(225, 225, 225);
    color: rgb(35, 35, 35);
}

